<%include partials/header%>
<%for(var i=0;i<data.length;i++){%>
<div class="ui container">
<div class="ui segment">
<a href="profile/<%=data[i].id%>/<%=data[i].username%>"><%=data[i].username%></a>
<a style="margin-right:5px;right:0;position:absolute" href="profile/<%=data[i].id%>" class="ui mini primary button" >View Profile</a></div></div>
<br>
<%}%>
<%include partials/footer%>